/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face{
	font-family: 'adventproBd1Bold1';
	src: url('../fonts/adventpro-bd1-webfont.eot?') format('eot'),
		url('../fonts/adventpro-bd1-webfont.woff') format('woff'),
		url('../fonts/adventpro-bd1-webfont.ttf') format('truetype'),
		url('../fonts/adventpro-bd1-webfont.svg#webfont0L0TsvhT') format('svg');
	font-style:normal;
	font-weight:normal;
}
@font-face{
	font-family: 'adventproBd2Bold2';
	src: url('../fonts/adventpro-bd2-webfont.eot?') format('eot'),
		url('../fonts/adventpro-bd2-webfont.woff') format('woff'),
		url('../fonts/adventpro-bd2-webfont.ttf') format('truetype'),
		url('../fonts/adventpro-bd2-webfont.svg#webfont0L0TsvhT') format('svg');
	font-style:normal;
	font-weight:normal;
}
@font-face{
	font-family: 'adventproBd3Bold3';
	src: url('../fonts/adventpro-bd3-webfont.eot?') format('eot'),
		url('../fonts/adventpro-bd3-webfont.woff') format('woff'),
		url('../fonts/adventpro-bd3-webfont.ttf') format('truetype'),
		url('../fonts/adventpro-bd3-webfont.svg#webfont0L0TsvhT') format('svg');
	font-style:normal;
	font-weight:normal;
}
@font-face{
	font-family: 'adventproRegular';
	src: url('../fonts/adventpro-re-webfont.eot?') format('eot'),
		url('../fonts/adventpro-re-webfont.woff') format('woff'),
		url('../fonts/adventpro-re-webfont.ttf') format('truetype'),
		url('../fonts/adventpro-re-webfont.svg#webfont0L0TsvhT') format('svg');
	font-style:normal;
	font-weight:normal;
}
body {
	width:100%;
	margin:0;
	line-height: 1;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input[type="submit"] {
	display:block;
	margin:2px;
}
img {
	border-style:none;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
input, textarea, select{
	font:100% arial,sans-serif;
	vertical-align:middle;
}
form, fieldset{
	margin:0;
	padding:0;
}
input:-webkit-autofill {
	background-color: #fff !important;
	background-image: none !important;
	color: black !important;
}
.clearfloat {
	clear: both;
}
#wrapper {
	width:1000px;
	margin:auto;
	overflow:hidden;
}
.header-container {
	width:100%;
}
#header {
	width:1000px;
	overflow:hidden;
}
#header .logo {
	width:20%;
	float:left;
	overflow:hidden;
}
.header-content {
	width:30%;
	float:left;
	overflow:hidden;
}
.header-content h3{
	font:48px/25px adventproBd3Bold3, Arial, Helvetica, sans-serif;
	color:#375D81;
	text-transform:uppercase;
}
#main {
	max-width:1000px;
	min-height:500px;
}
#sidebar {
	width:290px;
	min-height:500px;
	margin:0;
	float:left;
	border: 1px solid black;
}
#sidebar h2 {
	font:27px/25px adventproBd1Bold1, Arial, Helvetica, sans-serif;
	color: #375D81;
	text-transform:uppercase;
	text-align: center;
}
#nav {
	margin:0;
	padding:0;
	font:14px/15px Arial, Helvetica, sans-serif;
	color:#375D81;
	text-align:center;
}
#nav li {
	height:30px;
	display:inline;
	margin:0;
	padding:0 5px 0 5px;
	border-left:1px solid;
}
#nav li:first-child {
	margin:0;
	padding:0;
	border-left:none;
}
#nav li a {
	color:#375D81;
	padding:1px;
}
#nav li.active span {
	font-weight: bold;
}
#content {
	width:700px;
	float:left;
}
#content h2 {
	margin: 10px 0 50px 10px;
	font:27px/25px adventproBd1Bold1, Arial, Helvetica, sans-serif;
	color:#375D81;
	text-transform:uppercase;
	text-align:left;
}