/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face{
	font-family: 'adventproBd1Bold1';
	src: url('../fonts/adventpro-bd1-webfont.eot?') format('eot'),
		url('../fonts/adventpro-bd1-webfont.woff') format('woff'),
		url('../fonts/adventpro-bd1-webfont.ttf') format('truetype'),
		url('../fonts/adventpro-bd1-webfont.svg#webfont0L0TsvhT') format('svg');
	font-style:normal;
	font-weight:normal;
}
@font-face{
	font-family: 'adventproBd2Bold2';
	src: url('../fonts/adventpro-bd2-webfont.eot?') format('eot'),
		url('../fonts/adventpro-bd2-webfont.woff') format('woff'),
		url('../fonts/adventpro-bd2-webfont.ttf') format('truetype'),
		url('../fonts/adventpro-bd2-webfont.svg#webfont0L0TsvhT') format('svg');
	font-style:normal;
	font-weight:normal;
}
@font-face{
	font-family: 'adventproBd3Bold3';
	src: url('../fonts/adventpro-bd3-webfont.eot?') format('eot'),
		url('../fonts/adventpro-bd3-webfont.woff') format('woff'),
		url('../fonts/adventpro-bd3-webfont.ttf') format('truetype'),
		url('../fonts/adventpro-bd3-webfont.svg#webfont0L0TsvhT') format('svg');
	font-style:normal;
	font-weight:normal;
}
@font-face{
	font-family: 'adventproRegular';
	src: url('../fonts/adventpro-re-webfont.eot?') format('eot'),
		url('../fonts/adventpro-re-webfont.woff') format('woff'),
		url('../fonts/adventpro-re-webfont.ttf') format('truetype'),
		url('../fonts/adventpro-re-webfont.svg#webfont0L0TsvhT') format('svg');
	font-style:normal;
	font-weight:normal;
}

#header {
    padding: 100px 0 0 0;
}
#wrap
{
    min-height: 550px;  
}
#main
{
    overflow:auto;
    padding-bottom: 20px;
}
.footer 
{
    position: relative;
	clear:both;
    color: #333;
} 
.nav-top-custom .nav > li > a {
    padding: 40px 10px 40px 10px;
}
.nav-top-custom .divider-vertical {
    height: 70px;
}
.padding-top5 {
    padding-top: 5px;
}
.padding-top15 {
    padding-top: 15px;
}
.padding-top25 {
    padding-top: 25px;
}
.padding-bottom5 {
    padding-bottom: 5px;
}
.padding-left5 {
    padding-left: 5px;
}
.nav-top-custom .nav {
    margin: 0;
}
.nav-top-custom a.brand {
    margin-top: 4px;
}
.form-connexion {
    margin: 28px 0 0 20px;
}
.form-connexion button[type="submit"] {
    margin: 0 0 0 0;
}

.form-connexion .checkbox {
    display: inline;
}

.clear{
    clear: both;
}

.description{
    margin-left: 290px;
}

.date{
    font-weight: bold;
    float: right;
    padding-top: 15px;
}

.lienAnnonce{
    font-weight: bold;
    float: right;
    padding-top: 30px;
}

.court{
    width: 300px;
}

.align-right{
    float: right;
}

.formulaire input[type="text"], textarea{
    display: inline-block;
}

.formulaire label {
    display: block;
    float: left;
    width: 150px;
}

.memberList{
    text-align: center;
    font-weight: bold;
}

.memberList img{
    text-align: center;
    display: inline-block;
    float: none;
}