/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face{
	font-family: 'adventproBd1Bold1';
	src: url('../fonts/adventpro-bd1-webfont.eot?') format('eot'),
		url('../fonts/adventpro-bd1-webfont.woff') format('woff'),
		url('../fonts/adventpro-bd1-webfont.ttf') format('truetype'),
		url('../fonts/adventpro-bd1-webfont.svg#webfont0L0TsvhT') format('svg');
	font-style:normal;
	font-weight:normal;
}
@font-face{
	font-family: 'adventproBd2Bold2';
	src: url('../fonts/adventpro-bd2-webfont.eot?') format('eot'),
		url('../fonts/adventpro-bd2-webfont.woff') format('woff'),
		url('../fonts/adventpro-bd2-webfont.ttf') format('truetype'),
		url('../fonts/adventpro-bd2-webfont.svg#webfont0L0TsvhT') format('svg');
	font-style:normal;
	font-weight:normal;
}
@font-face{
	font-family: 'adventproBd3Bold3';
	src: url('../fonts/adventpro-bd3-webfont.eot?') format('eot'),
		url('../fonts/adventpro-bd3-webfont.woff') format('woff'),
		url('../fonts/adventpro-bd3-webfont.ttf') format('truetype'),
		url('../fonts/adventpro-bd3-webfont.svg#webfont0L0TsvhT') format('svg');
	font-style:normal;
	font-weight:normal;
}
@font-face{
	font-family: 'adventproRegular';
	src: url('../fonts/adventpro-re-webfont.eot?') format('eot'),
		url('../fonts/adventpro-re-webfont.woff') format('woff'),
		url('../fonts/adventpro-re-webfont.ttf') format('truetype'),
		url('../fonts/adventpro-re-webfont.svg#webfont0L0TsvhT') format('svg');
	font-style:normal;
	font-weight:normal;
}

#header {
    padding: 50px 0 0 0;
}
#wrap
{
    min-height: 550px;  
}
#main
{
    overflow:auto;
    padding-bottom: 20px;
}
.footer 
{
    position: relative;
    clear:both;
    color: #ffffff;
    background:#111111;
    border-top:30px solid #0f88ae;
} 
.footer a{
    color:#ffffff;
}
.footer ul,li{
    margin:0;
    list-style: none;
}
.nav-top-custom .nav > li > a {
    margin-top:30px;
}
.nav-top-custom .divider-vertical {
    height: 99px;
}
.padding-top5 {
    padding-top: 5px;
}
.padding-top15 {
    padding-top: 15px;
}
.padding-top25 {
    padding-top: 25px;
}
.padding-bottom5 {
    padding-bottom: 5px;
}
.padding-left5 {
    padding-left: 5px;
}
.margin-5 {
    margin: 5px;
}
.margin-10 {
    margin: 10px;
}
.inline {
    display: inline;
}
.inline-block{
    display: inline-block;
}
.float-right{
    float: right;
}
.nav-top-custom .nav {
    margin: 0;
}
.nav-top-custom a.brand {
    margin-top: 4px;
}
.form-connexion {
    margin: 28px 0 0 20px;
}
.form-connexion button[type="submit"] {
    margin: 0 0 0 0;
}
.form-connexion .checkbox {
    display: inline;
}
.clear{
    clear: both;
}
.description{
    margin-left: 290px;
}
.date{
    font-weight: bold;
    float: right;
    padding-top: 15px;
}
.announcement-link{
    font-weight: bold;
    float: right;
    padding-top: 30px;
}
.court{
    width: 300px;
}
.align-right{
    float: right;
}
/****NAVBAR****/
.navbar .nav {
    height: 99px;
}
.navbar .btn, .navbar .btn-group {
    margin-top: 35px;
}
.navbar #search-bar {
    margin-top: 35px;
}
#account-user button {
    height: 35px;
}
#search-panel{
    background: linear-gradient(#0d7190,#14b0e1);
    height:120px;
}
#deroule{
    height:20px;
    background: #0d7190;
}
/****USER-ACCOUNT****/
#account-user {
    height: 100px;
}
#account-user #user-picture {
    margin-top: 20px;
    padding-right: 5px;
}
#account-user .btn.dropdown-toggle {
    height: 20px;
}
/****OTHERS****/
#AuthKey {
    display: none;
}
.center {
    text-align: center;
}
.padding-button{
    padding-top: 1px;
}
/****USER REGISTRATION FORM****/
#user-register fieldset {
    width: 400px;
    height: auto;
}
#user-register .control-label {
    padding: 0 10px 0 0;
    text-align: left;
}
#user-register .second .control-label {
    width: 100px;
}
#user-register  input[type="text"], textarea, 
input[type="date"] {
    display: inline-block;
}
/****SEARCH****/
#main.search {
    width: 680px;
    margin: 0;
    float: right;
    right: 135px;
    position: relative;
    overflow: hidden;
}
.block-search {
    top: 110px;
    display: block;
    float: left;
    position: fixed;
    padding: 10px;
}
.block-search .first-group {
    width: 190px;
    margin: 0;
    padding: 0;
    float: left;
}
.blue{
    color: #0088cc;
}
.center{
    text-align: center;
}
#deroule p{
    color: #ffffff;
}