/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face{
	font-family: 'adventproBd1Bold1';
	src: url('../fonts/adventpro-bd1-webfont.eot?') format('eot'),
		url('../fonts/adventpro-bd1-webfont.woff') format('woff'),
		url('../fonts/adventpro-bd1-webfont.ttf') format('truetype'),
		url('../fonts/adventpro-bd1-webfont.svg#webfont0L0TsvhT') format('svg');
	font-style:normal;
	font-weight:normal;
}
@font-face{
	font-family: 'adventproBd2Bold2';
	src: url('../fonts/adventpro-bd2-webfont.eot?') format('eot'),
		url('../fonts/adventpro-bd2-webfont.woff') format('woff'),
		url('../fonts/adventpro-bd2-webfont.ttf') format('truetype'),
		url('../fonts/adventpro-bd2-webfont.svg#webfont0L0TsvhT') format('svg');
	font-style:normal;
	font-weight:normal;
}
@font-face{
	font-family: 'adventproBd3Bold3';
	src: url('../fonts/adventpro-bd3-webfont.eot?') format('eot'),
		url('../fonts/adventpro-bd3-webfont.woff') format('woff'),
		url('../fonts/adventpro-bd3-webfont.ttf') format('truetype'),
		url('../fonts/adventpro-bd3-webfont.svg#webfont0L0TsvhT') format('svg');
	font-style:normal;
	font-weight:normal;
}
@font-face{
	font-family: 'adventproRegular';
	src: url('../fonts/adventpro-re-webfont.eot?') format('eot'),
		url('../fonts/adventpro-re-webfont.woff') format('woff'),
		url('../fonts/adventpro-re-webfont.ttf') format('truetype'),
		url('../fonts/adventpro-re-webfont.svg#webfont0L0TsvhT') format('svg');
	font-style:normal;
	font-weight:normal;
}
h1,h2,h3,h4,h5,h6 {
    color: #0d7190;
}
#header {
    padding: 50px 0 0 0;
}
#wrap
{
    min-height: 550px;  
}
#side {
    width: 380px;
    position: absolute;
    top: 120px;
    font-size: 71.4%;
    color: #545454;
}
#main
{
    overflow:auto;
    padding-bottom: 20px;
}
.footer 
{
    position: relative;
    clear:both;
    color: #ffffff;
    background:#111111;
    border-top:30px solid #0f88ae;
} 
.footer a{
    color:#ffffff;
}
.footer ul,li{
    margin:0;
    list-style: none;
}
.nav-top-custom .nav > li > a {
    margin-top:30px;
}
.nav-top-custom .divider-vertical {
    height: 99px;
}
.padding-top5 {
    padding-top: 5px;
}
.padding-top15 {
    padding-top: 15px;
}
.padding-top25 {
    padding-top: 25px;
}
.padding-bottom5 {
    padding-bottom: 5px;
}
.padding-left5 {
    padding-left: 5px;
}
.margin-5 {
    margin: 5px;
}
.margin-10 {
    margin: 10px;
}
.inline {
    display: inline;
}
.inline-block{
    display: inline-block;
}
.float-right{
    float: right;
}
.nav-top-custom .nav {
    margin: 0;
}
.nav-top-custom a.brand {
    margin-top: 4px;
}
.form-connexion {
    margin: 28px 0 0 20px;
}
.form-connexion button[type="submit"] {
    margin: 0 0 0 0;
}
.form-connexion .checkbox {
    display: inline;
}
hr {
    width: 100%;
}
.clear{
    clear: both;
}
/****LIST-ANNOUNCEMENTS****/
#list-announcements #content-announcements > li {
    display: inline-block;
    width: 415px;
    float: left;
    margin: 10px;
    padding: 5px;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
}
#list-announcements .date{
    font-weight: bold;
    float: right;
    padding-top: 15px;
}
.announcement-link{
    font-weight: bold;
    float: right;
}
.court{
    width: 300px;
}
.align-right{
    float: right;
}
/****NAVBAR****/
.navbar .nav {
    height: 99px;
}
.navbar .btn, .navbar .btn-group {
    margin-top: 35px;
}
.navbar #search-bar {
    margin-top: 35px;
}
#account-user button {
    height: 35px;
}
#search-panel{
    background: -moz-linear-gradient(#0d7190,#14b0e1);
    background: -webkit-linear-gradient(#0d7190,#14b0e1);
    background: -o-linear-gradient(#0d7190,#14b0e1);
    background: linear-gradient(#0d7190,#14b0e1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0d7190, endColorstr=#14b0e1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0d7190, endColorstr=#14b0e1)";
    height:120px;
}
#deroule{
    height:20px;
    background: #0d7190;
}
/****ANNOUNCEMENT-DETAIL****/
#wrapper-announcement-detail {
    width: 580px;
}
#comments-list {
    margin: 0 auto;
}
.entry {
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.entry .meta {
    color: #888;
    font-size: 12px;
    line-height: 23px;
    margin: 2px;
}
.content h3 span {
    border-left: 3px solid #f65314;
    padding-left: 7px;
    padding-bottom: 5px;
}
.content .comment-box {
    margin: 5px 0px;
    padding: 10px;
    background: #fafafa;
    border: 1px solid #eee;
}
.content .cmeta {
    font-size: 12px;
}
.entry p {
    margin: 5px 0px;
}
#thumbnails  {
    margin-left: 33px;
    margin-top: 15px;
}
#thumbnails > li {
    margin: 10px 0 10px 0;
}
#form-announcement-comment {
    text-align: center;
}
/****ANNOUNCEMENT-MODIFY****/
#announcement-modify #form-wrapper {
    margin: 0 auto;
    width: 540px;
}
#announcement-modify .control-label {
    padding: 0 10px 0 0;
    text-align: left;
}
#announcement-modify .thumbnail img {
    cursor: default;
}
#announcement-modify .thumbnail a.red-cross img {
    cursor: auto;
}
/****USER-ACCOUNT****/
#account-user {
    height: 100px;
}
#account-user #user-picture {
    margin-top: 20px;
    padding-right: 5px;
}
#account-user .btn.dropdown-toggle {
    height: 20px;
}
/****OTHERS****/
#AuthKey {
    display: none;
}
.center {
    text-align: center;
}
.padding-button{
    padding-top: 1px;
}
/****USER REGISTRATION FORM****/
#user-register fieldset {
    width: 400px;
    height: auto;
}
#user-register .control-label, 
#announcement-add .control-label {
    padding: 0 10px 0 0;
    text-align: left;
}
#user-register .second .control-label {
    width: 100px;
}
#user-register input[type="text"], textarea, 
input[type="date"] {
    display: inline-block;
}
/****USER-MODIFY****/
#form-user-modify fieldset {
    width: 400px;
    height: auto;
}
#form-user-modify .control-label {
    padding: 0 10px 0 0;
    text-align: left;
}
#form-user-modify .second .control-label {
    width: 100px;
}
#form-user-modify input[type="text"], #form-user-modify textarea, 
#form-user-modify input[type="date"] {
    display: inline-block;
}
/****SEARCH-FORM****/
#search-form {
    background-color: #fcfcfc;
    position: fixed;
    width: 380px;
    z-index: 1;
    margin-top: 0;
}
#search ul > li {
    margin: 10px;
}
/****ANNOUNCEMENT-ADD****/
#announcement-add .span10 {
    float: none;
    margin: 0 auto;
}
#announcement-add fieldset {
    height: auto;
}
#announcement-add .control-group {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 535px;
}
#announcement-add .control-label, 
#announcement-add .control-label {
    padding: 0 10px 0 0;
    text-align: left;
}
#announcement-add .second .control-label {
    width: 100px;
}
#announcement-add input[type="text"], textarea, select {
    width: 350px;
    display: inline-block;
}
#preview, #preview ul {
    width: 100%;
    height: auto;
    display: inline-block;
    margin: 0 auto;
}
#preview ul li {
    margin: 8px;
    float:left;
}
/****SEARCH****/
#main.search {
    width: 680px;
    margin: 0;
    float: right;
    right: 135px;
    position: relative;
    overflow: hidden;
}
.block-search {
    top: 110px;
    display: block;
    float: left;
    position: fixed;
    padding: 10px;
}
.block-search .first-group {
    width: 190px;
    margin: 0;
    padding: 0;
    float: left;
}
.blue{
    color: #0088cc;
}
.center{
    text-align: center;
}
#deroule p{
    color: #ffffff;
}
/****LIST-ANNOUNCEMENTS****/
#content-announcements .details {
    margin-top: 1em;
    font-size: .75em;
}
#content-announcements > div {
    margin: 0;
    margin-bottom: 10px;
    padding: 0 0 10px 0;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
}